<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Entries</title>

    <% console.log(entries.length); %>

    <% if (entries.length === 0) { %>
        <p>No Posts Found</p>
        <% } else { %>
    
        <% for (let i = 0; i < entries.length; i++) { %>
            <p><%= entries[i].author %> at <%= entries[i].created_at %></p> 
            <h3><%= entries[i].title %></h3>
            <p><%= entries[i].content %></p>
            <% } %>
    
    <%}%>

</head>
<body>
    
</body>
</html>