<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Entries</title>

    <% if (entries.length === 0) { %>
        <p>No Posts Found</p>
        <% } else { %>
        <div class="flex-container">
        <% for (let i = 0; i < entries.length; i++) { %>
            <div class="post"> 
                <h3><%= entries[i].title %></h3>
                <p class = "content"><%= entries[i].content %></p>
                <p class = "t-stamp">By <%= entries[i].author %> at <%= entries[i].created_at %></p>
            </div>
            <% } %>
        </div>
    <%}%>
        
</head>
<body>
    
</body>
</html>