<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Entries</title>

    <% console.log(entries.content); %>

    <% if (entries.content) { %>
        <p>No Posts Found</p>
        <% } else { %>
    <ul>
        <% for (let i = 0; i < entries.length; i++) { %>
            <p><%= entries[i].author %> <%= entries[i].title %> <%= entries[i].id %></p>
            <% } %>
    </ul>
    <%}%>

</head>
<body>
    
</body>
</html>