<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="validation.js" defer></script>
    <title>Mini-Blog</title>
    

</head>
<body>
    <h1>Create a New Post</h1>
    <form action="submit" method="post" id ="post-form">
        <section>
            <span class="error" id="err-author">Please add a name with no numbers</span>
            <label for="author">Name: </label><br>
            <input type="text" name="author" id="author" value=""><br>
        </section>
        <section>
            <span class="error" id="err-title">Please add a title</span>
            <label for="title">Title: </label><br>
            <input type="text" name="title" id="title" value=""><br> 
        </section>
        <section>
            <span class="error" id="err-content">Please include at least 10 characters</span>
            <label for="content">Post:</label><br>
            <textarea class = "content" name="content" id ="content" rows="5" cols="90"></textarea><br> 
            <input type="submit" value="Submit" id="submit">
        </section>
      </form>
</body>
</html>